main {
    padding-top: 32px;
}

.background {
    background: url(../Imagenes/fondoinicio.jpg) center/cover;
    filter: grayscale(10%);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.package {
    width: 80%;
    margin: 16px 0;
    border: 4px solid  #ee7043;
    border-left: none;
    position: relative;
}



.package:hover,
.package:active {
    box-shadow: 2px 2px 4px;
    border-color: #175264 !important;
    /*border-color: coral !important;*/
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}


.package__badge{
    position: absolute;
    top: 0;
    right: 0;
    margin: 35px; 
    font-size: 24px;
    color: white;
    background: #175264;
    padding: 3px ;
}
.package__subtitle {
   color: white; 
}

.package__info{
padding: 16px;
border: 1 px solid  #175264;
font-size: 20px;
color: rgb(85, 85, 85);
background: white;
}

.clearfix{
    clear: both;
}

#plus  {
    background-color: #fdca3f7c;
}
#gratis {
background:  #f49644a6);
float: right;
border-right: none;
border-left: 4px solid #ee7043 ;
text-align: right;
}
/* #gratis:hover,
#gratis:active{
    border-left-color: rgb(250, 223, 165) ;
} */


#premium{
    background:  #fdca3f7c;
    }
#premium .package__title{
 color: rgb(0, 0, 0);
}
#premium .package__subtitle{
color: white;
}
