/* CSS Cascade Style Sheet */
h1, h2, h3{
    color: rgb(93, 208, 212);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 5rem;
    /* 1rem = 16 px */
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}

}
.seccion-vertical {
    padding: 2rem;
    background-color: rgb(238, 238, 238);   
    margin-top: 2rem;
}
.noticia {
padding: 1rem;
margin: 1rem;
border-radius: 1rem;
min-width: 40%;
display: inline-block;
}

