main{ 
    padding: 2rem;
}

.testimonio {
font-size: 1.2rem;
margin: 3rem 0;
}

.testimonio__list{
    width: 80%;
    margin: auto;
}
.testimonio:first-of-type {
    margin-top: 6rem;
}

.testimonio__image-container {
width: 65%;
max-width: 580px;
display: inline-block;
vertical-align: middle;
box-shadow: 3px 3px 5px 3px rgb(189, 189, 189);
}

.testimonio__image {
width: 100%;
vertical-align: top;
}

.testimonio__info {
    text-align: right;
    padding: 0.9rem;
    display: inline-block;
    vertical-align: middle;
    width: 30% ;
}


#cliente-2-testimonio {
    text-align: right;
}

#cliente-2 .testimonio__info {
    text-align: left;
}
.testimonio__nombre {
    margin: 0.2rem;
    color: #175264;
    font-size: 2rem;
}
.testimonio__subtitulo {
    margin: 0;
    font-size: 1.1rem;
    color: rgb(189, 189, 189);
}
.testimonio__subtitulo a {
    color: inherit;
    text-decoration: none;
}
.testimonio__subtitulo a:hover,
.testimonio__subtitulo a:active {
    color:#f49744 ;
}
.testimonio__text{
    margin: 0.2rem;
}